body {
  background-color: #fff;
  text-shadow: 0 0 1px rgba(51, 51, 51, 0.06);
}
#wrapper.container #topbar {
  background-color: #EEE;
  position: relative;
  z-index: 10;
}
#wrapper.container #topbar #top1 {
  background-image: url("../img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 55px;
}
#wrapper.container #topbar #top2 {
  min-height: 55px;
}
#wrapper.container #topbar #top2 #categories .section {
  border-left: 1px solid #BBB;
  height: 55px;
  padding-top: 20px;
  text-align: center;
}
#wrapper.container #topbar #top2 #search {
  height: 55px;
}
#wrapper.container #topbar #top2 #search #search1 {
  border-left: 1px solid #BBB;
  height: 55px;
  padding-top: 18px;
  text-align: center;
}
#wrapper.container #topbar #top2 #search #search1 input {
  width: 100%;
}
#wrapper.container #topbar #top3 {
  border-left: 1px solid #BBB;
  min-height: 55px;
  padding-left: 5px;
}
#wrapper.container #topbar #top3 span.show-menu {
  cursor: pointer;
  float: left;
  font-size: 20px;
  margin: 15px 5px;
}
#wrapper.container #topbar #top3 img.tmp {
  float: left;
  padding-left: 15px;
}
#wrapper.container #left {
  min-height: 500px;
}
#wrapper.container #middle {
  border-left: 1px solid #BBB;
  min-height: 500px;
  padding-top: 10px;
}
#wrapper.container #right {
  border-left: 1px solid #BBB;
  min-height: 500px;
}
/* Special Media Querys */
@media (max-width: 321px) {
  #left {
    background-color: #eee;
    right: -320px;
    position: absolute;
    width: 320px;
    z-index: 1;
  }
}
@media (min-width: 321px) and (max-width: 986px) {
  #left {
    border-right: 1px solid #bbb;
    left: 0 !important;
    position: absolute;
    width: 244px;
    z-index: 1;
  }
  #middle {
    padding-left: 256px;
  }
}
footer {
  background: #DDD;
  min-height: 200px;
}
#mobile-panel {
  background: #EEE;
  background-color: #EEE;
  display: none;
  margin: 0;
  width: 320px;
  z-index: 5;
}
#mobile-panel .inner {
  border-left: 1px solid #BBB;
  height: 55px;
  padding-left: 20px;
}
#mobile-panel .inner span.show-menu {
  cursor: pointer;
  float: left;
  font-size: 20px;
  margin: 15px 5px;
}
#mobile-panel .inner img.tmp {
  float: left;
}
#console {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: #555;
  color: white;
  font-size: 50px;
}
