doctype html
html(lang="en")  
  head 

    // Block title
    block title

    meta(charset="utf-8")  
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(href="../bower_components/bootstrap/css/bootstrap.css", rel="stylesheet")
    link(href="../assets/css/base.css", rel="stylesheet")

    // Block headers
    block headers

  body

    // Experimental console
    include includes/console 

    // Sticky mobile user panel
    include includes/panel-mobile

    // Top space hidden for <1000px... Fix it in css with @media !

    br.hidden-xs.hidden-sm

    // Content 
    div#wrapper.container

      // Header 
      div#topbar.row

        div#top1.col-sm-15.col-lg-12

        div#top2.col-sm-30.col-lg-36

          div.row

            // Categories
            div#categories.col-sm-30.col-lg-20

              .row

                .section.col-xs-20

                  b SERIES

                .section.col-xs-20

                  b ANIMES

                .section.col-xs-20

                  b MOVIES

            // Search 
            div#search.col-sm-30.col-lg-40

              div.row

                div#search1.col-sm-60

                  input(type='text')

        div#top3.col-sm-15.col-lg-12

          img.tmp(src='../assets/img/panel.png')

          span.show-menu.glyphicon.glyphicon-align-justify.visible-xs

      div#content.row

        // Left column  
        div#left.col-md-15.col-lg-12

        // Content 
        div#middle.col-md-45.col-lg-36

          // Block Content
          block content 
          
        div#right.visible-lg.col-lg-12

    // Block Footer
    include includes/footer 

    // Javascripts
    script(src="https://code.jquery.com/jquery.js")
    script(src="../bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="../assets/js/base.js")

    // Block Javascripts
    block javascripts
 
  