// index.jade
extends base

block title
  title Index

block content 
  .row
    .col-sm-20
      h4 Something
      | Lorem ipsum dolor sit amet, consectetur adipisicing  elit, sed do eiusmod
      | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      | consequat.
    .col-sm-20
      h4 Something
      | Lorem ipsum dolor sit amet, consectetur adipisicing  elit, sed do eiusmod
      | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      | consequat.
    .col-sm-20
      h4 Something
      | Lorem ipsum dolor sit amet, consectetur adipisicing  elit, sed do eiusmod
      | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      | consequat. 