doctype html
html(lang="en")
  head 
    title Title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(href="./bower_components/bootstrap/css/bootstrap.css", rel="stylesheet")
    link(href="./css/styles.css", rel="stylesheet")
  body
    // experimental console
    include includes/console




  