#wrapper{

  &.container{

    #topbar{

      background-color: #EEE;
      position: relative;
      z-index: 10; 

      #top1{

        background-image: url("../img/logo.png"); 
        background-position: center;
        background-repeat: no-repeat; 
        min-height: 55px;  // <--- Really important min
      }

      #top2{

        min-height: 55px;

        #categories{

          .section{

            border-left: 1px solid #BBB;
            height: 55px; 
            padding-top: 20px; 
            text-align: center;
          }

        }

        #search{

          height: 55px;

          #search1{

            border-left: 1px solid #BBB;
            height: 55px;
            padding-top: 18px;
            text-align: center;

            input {
              width: 100%;
            }

          }

        }

      }

      #top3{

        border-left: 1px solid #BBB; 
        min-height: 55px; 
        padding-left: 5px;

        span.show-menu{
          cursor: pointer; 
          float: left; 
          font-size: 20px; 
          margin: 15px 5px; 
        }

        img.tmp{
          float: left;
          padding-left: 15px;
        }

      }

    }

    #left{
      min-height: 500px;
    }

    #middle{
      border-left: 1px solid #BBB;
      min-height: 500px;
      padding-top: 10px; 
    }

    #right{
      border-left: 1px solid #BBB;
      min-height: 500px;
    }

  }

}

/* Special Media Querys */

// In Phone hide at left side
@media (max-width: @screen-xs){  
  #left{
      background-color: #eee; 
      right:-320px;
      position: absolute;
      width: 320px;
      z-index: 1;
  }
}

// In 1024 mode hide at left side
@media (min-width: @screen-xs) and (max-width: @screen-md){ 
  #left{
    border-right: 1px solid #bbb;
    left:0 !important;
    position: absolute;
    width: 244px;
    z-index: 1;
  }  

  #middle{    
    padding-left:256px;
  }  
  
}