#mobile-panel{

    background: #EEE; 
    background-color: #EEE;
    display: none; 
    margin: 0; 
    width: 320px; 
    z-index: 5; 

    .inner {

    	border-left: 1px solid #BBB; 
    	height: 55px; 
    	padding-left: 20px;

        span.show-menu{
          cursor: pointer; 
          float: left; 
          font-size: 20px; 
          margin: 15px 5px; 
        }

        img.tmp{
          float: left;
        }

    }

}