footer(style='background-image: url(\'../assets/img/footer-bg.png\'); background-repeat: repeat no-repeat;')
  .container
    // Footer logo and headers 
    .row
      .col-sm-14(style='background-image: url(\'../assets/img/footer-logo.png\'); height: 55px; background-repeat: no-repeat; background-position: left top;')
      .col-sm-15.hidden-xs
        br
        b FRANES
      .col-sm-15.hidden-xs 
        br
        b ANIMES
      .col-sm-15.hidden-xs 
        br
        b MOVIES
    .row
      .col-sm-14
        nav
          ul.list-unstyled
            li Home
            li Monthly Prizes
            li Developer's Blog
      .col-sm-15
        nav
          ul.list-unstyled
            li.visible-xs
              br
              b SERIES
            li Home
            li Monthly Prizes
            li Developer's Blog
      .col-sm-15
        nav
          ul.list-unstyled
            li.visible-xs
              br
              b ANIMES
            li Home
            li Monthly Prizes
            li Developer's Blog
      .col-sm-15
        nav
          ul.list-unstyled
            li.visible-xs
              br
              b MOVIES
            li Home
            li Monthly Prizes
            li Developer's Blog