#mobile-panel.row(data-spy='affix', data-offset-top='220', data-offset-bottom='0')

  .inner.col-sm-60.visible-xs()

    img.tmp(src='../assets/img/panel.png')
    
    //quiza no es necesario el boton de menu... pensarlo bien 
    span.show-menu.visible-xs.glyphicon.glyphicon-align-justify


