body {
  background-color: #fff;
  text-shadow: 0 0 1px rgba(51, 51, 51, 0.06);
}
@media (max-width: 321px) {
  .sidenav {
    position: absolute;
    width: 230px;
    left: -230px;
    z-index: 1;
    background-color: #eee;
  }
  .sidenav.on {
    left: 0;
  }
}
@media (min-width: 321px) and (max-width: 986px) {
  .sidenav {
    position: absolute;
    width: 244px;
    left: 0;
    z-index: 1;
    border-right: 1px solid #bbb;
  }
  .sidenav.on {
    left: 0;
  }
  .content {
    padding-left: 256px;
  }
}
footer {
  background: #DDD;
  min-height: 200px;
}
