{% load url from future %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>MySeriesList</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
  <body>
  <header>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a href="{% url 'index' %}" class="navbar-brand">MySeriesList</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Users</a></li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shows <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li><a href="#">TV Series</a></li>
                          <li><a href="#">Movies</a></li>
                          <li><a href="#">Anime</a></li>
                      </ul>
                  </li>
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'styleguide' %}">Styleguide</a></li>
                  {% endif %}
              </ul>
              {% if user.is_authenticated %}
              <p class="navbar-text navbar-right">Logged in as <a href="#" class="navbar-link">{{ user.username }}</a>!
                  <a href="/logout/"><span class="fa fa-sign-out"></span></a>
              </p>
              {% else %}
              <ul class="nav navbar-nav navbar-right">
                  <li><a data-toggle="modal" data-target="#signupModal">Signup</a></li>
                  <li><a data-toggle="modal" data-target="#loginModal">Login</a></li>
              </ul>

              {% endif %}


          </div>
      </nav>

      <!-- Modal Signup-->
      <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
           aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="signupModalLabel">Signup modal</h4>
                  </div>
                  <div class="modal-body">
                      {% for name in backends.not_associated %}
                      <li>
                              <a href="{% url 'social:begin' name %}">{{ name }}</a>
                          </li>
                      {% endfor %}
                  </div>
                  <div class="modal-footer">
                      footer
                  </div>
              </div>
              <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- Modal Login-->
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
           aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="loginModalLabel">Login Modal</h4>
                  </div>
                  <div class="modal-body">

                      <div class="container">

                          <form class="form-signin" role="form">
                              <h2 class="form-signin-heading">Please sign in</h2>
                              <input type="text" class="form-control" placeholder="Email address" required autofocus>
                              <input type="password" class="form-control" placeholder="Password" required>
                              <label class="checkbox">
                                  <input type="checkbox" value="remember-me"> Remember me
                              </label>
                              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                          </form>

                      </div>
                      <!-- /container -->

                      {% for name in backends.not_associated %}
                      <li>
                              <a href="{% url 'social:begin' name %}">{{ name }}</a>
                          </li>
                      {% endfor %}
                  </div>
                  <div class="modal-footer">
                      footer
                  </div>
              </div>
              <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
  </header>

  {% block content %}{% endblock %}

  <footer>
      <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
          <div class="container">
              <p>MySeriesList 2014 &copy;</p>
          </div>
      </nav>
  </footer>
  <script src="{{ STATIC_URL }}js/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script>
      $(document).foundation();
    </script>
  </body>
</html>