{% extends 'base.html' %}
{% load url from future %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <img src="http://placehold.it/420x315"/>
            <!-- <iframe width="420" height="315" src="//www.youtube.com/embed/a1Y73sPHKxw" frameborder="0" allowfullscreen></iframe> -->
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <ul>
                <li>Track all the tv series, anime and movies</li>
                <br/>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa neque, porttitor sed
                    sollicitudin eget.
                </li>
                <br/>
                <li>Mauris euismod tempus lacus, eget vulputate arcu sodales id. Donec in commodo massa, ac condimentum
                    elit.
                </li>
                <br/>
                <li>Vestibulum convallis dictum venenatis. Aenean leo neque, scelerisque ut adipiscing et, sagittis
                    tincidunt dui.
                </li>
                <br/>
            </ul>
        </div>
    </div>
    <br/>

    <div class="row center-block">
        <div class="col-lg-offset-5 col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <a href="#" data-toggle="modal" data-target="#signupModal" class="btn btn-lg btn-default">Sign Up Now!</a>
        </div>
    </div>

</div> <!-- container -->
{% endblock %}