@media (max-width: @screen-xs) 
{  
    .sidenav
    {
        position: absolute;
        width: 230px;
        left:-230px;
        z-index: 1;
        background-color: #eee; 

        &.on
        {    
            left:0;
        } 
    }
}

@media (min-width: @screen-xs) and (max-width: @screen-md) 
{ 
    .sidenav
    {
        position: absolute;
        width: 244px;
        left:0;
        z-index: 1;
        border-right: 1px solid #bbb;

        &.on
        {    
            left:0;
        }  
    } 
 
    .content
    {    
        padding-left:256px;

    }  
}