#mobile-panel {
  background: #EEE;
  background-color: #EEE;
  display: none;
  margin: 0;
  width: 320px;
  z-index: 5;
}
#mobile-panel .inner {
  border-left: 1px solid #BBB;
  height: 55px;
  padding-left: 20px;
}
#mobile-panel .inner span.show-menu {
  cursor: pointer;
  float: left;
  font-size: 20px;
  margin: 15px 5px;
}
#mobile-panel .inner img.tmp {
  float: left;
  padding-left: 15px;
}
